{% extends 'recipes/base.html' %}

{% block title %}
Login - Scrumptious Recipes
{% endblock %}

{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>
    <a href="{% url 'recipe_list' %}">Main page</a>
  </nav>
</header>
<main>
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
</main>
{% endblock %}
