{% extends 'recipes/base.html' %}

{% block title %}
Logged Out - Scrumptious Recipes
{% endblock %}

{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>
  </nav>
</header>
<main>
  <h1>Logged Out</h1>
  <p>You have been logged out. <a href="{% url 'login' %}">Login again</a></p>
</main>
{% endblock %}
