{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}Add Recipe{% endblock %}

{% block content %}
    <h1>Add Recipe</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <h2>Ingredients</h2>
        {{ ingredients_formset.management_form }}
        <div id="ingredients-formset">
            {% for form in ingredients_formset %}
                <div class="formset-item">
                    {{ form.as_p }}
                    {% if form.non_field_errors %}
                        <div class="error">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <button type="button" class="remove-ingredient">Remove</button>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-ingredient">Add Ingredient</button>

        <h2 class="form-section-title">Steps</h2>
        {{ steps_formset.management_form }}
        <div id="steps-formset">
            {% for form in steps_formset %}
                <div class="formset-item">
                    {{ form.as_p }}
                    {% if form.non_field_errors %}
                        <div class="error">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <button type="button" class="remove-step">Remove</button>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-step">Add Step</button>

        <div class="save-button-wrapper">
            <button type="submit" class="save-changes-button">Save Changes</button>
        </div>
    </form>
{% endblock %}

