{% extends 'recipes/base.html' %}


{% block title %}Add Recipe{% endblock %}

{% block content %}
    <h1>Add a New Recipe</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Recipe</button>
    </form>
{% endblock %}
