{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scrumptious Recipes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'add_recipe' %}" class="add-recipe-button">Add a new recipe</a>
            {% if user.is_authenticated %}
            <span>Hello, {{}}
        </nav>
        <form method="get" action="{% url 'recipe_list' %}" class="search-form">
            <input type="text" name="q" placeholder="Search recipes..." value="{{ query|default_if_none:'' }}">
            <button type="submit">Search</button>
        </form>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Made with <span class="heart-word">love<span class="heart-explosion">❤️</span></span> by Scrumptious Recipes</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.recipes-carousel').slick({
                slidesToShow: 3,
                slidesToScroll: 3,
                arrows: true,
                dots: true,
                autoplay: false,
                autoplaySpeed: 2000,
                prevArrow: '<button class="slick-prev">&lt;</button>',
                nextArrow: '<button class="slick-next">&gt;</button>'
            });
        });
    </script>
</body>
</html>
