{}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scrumptious Recipes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
    <header class="header-background">
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'add_recipe' %}" class="add-recipe-button">Add a new recipe</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="header-background">
        <p>Made with <span class="heart-word">love<span class="heart-explosion">❤️</span></span> by Scrumptious Recipes</p>
    </footer>
</body>
</html>
