{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scrumptious Recipes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            {% if user.is_authenticated %}
                <a href="{% url 'add_recipe' %}" class="add-recipe-button">Add a new recipe</a>
                <span>Hello, {{ user.username }}!</span>
                <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="background: none; border: none; color: #0000EE; text-decoration: underline; cursor: pointer;">Log out</button>
                </form>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'login' %}">Log in</a>
            {% endif %}
        </nav>
        {% if user.is_authenticated %}
        <form method="get" action="{% url 'recipe_list' %}" class="search-form">
            <input type="text" name="q" placeholder="Search recipes..." value="{{ query|default_if_none:'' }}">
            <button type="submit">Search</button>
        </form>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Made with <span class="heart-word">love<span class="heart-explosion">❤️</span></span> by Scrumptious Recipes</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.recipes-carousel').slick({
                slidesToShow: 3,
                slidesToScroll: 3,
                arrows: true,
                dots: true,
                autoplay: false,
                autoplaySpeed: 2000,
                prevArrow: '<button class="slick-prev">&lt;</button>',
                nextArrow: '<button class="slick-next">&gt;</button>'
            });
        });

        function autoResizeTextArea(textarea) {
            textarea.style.height = 'auto';
            textarea.style.height = (textarea.scrollHeight) + 'px';
        }

        document.querySelectorAll('textarea').forEach(function(textarea) {
            textarea.addEventListener('input', function() {
                autoResizeTextArea(textarea);
            });
            autoResizeTextArea(textarea); // Initial call to adjust size based on initial content
        });

        function cloneFormset(prefix, formCount, formContainerSelector) {
            var formClone = document.querySelector(`${formContainerSelector}:last-of-type`).cloneNode(true);
            formClone.querySelectorAll('input, select, textarea').forEach(function(input) {
                input.name = input.name.replace(`-${formCount - 1}-`, `-${formCount}-`);
                input.id = input.id.replace(`_${formCount - 1}_`, `_${formCount}_`);
                input.value = '';
                if (input.tagName.toLowerCase() === 'textarea') {
                    input.style.height = 'auto'; // Reset height
                    input.addEventListener('input', function() {
                        autoResizeTextArea(input);
                    });
                }
            });
            formClone.querySelectorAll('.remove-ingredient, .remove-step').forEach(function(button) {
                button.addEventListener('click', function() {
                    this.closest(formContainerSelector).remove();
                });
            });
            return formClone;
        }

        document.getElementById('add-ingredient').addEventListener('click', function() {
            var totalForms = document.getElementById('id_ingredients-TOTAL_FORMS');
            var currentCount = parseInt(totalForms.value);
            var formClone = cloneFormset('ingredients', currentCount, '.ingredients-formset');
            totalForms.value = currentCount + 1;
            document.getElementById('ingredients-formset').appendChild(formClone);
        });

        document.getElementById('add-step').addEventListener('click', function() {
            var totalForms = document.getElementById('id_steps-TOTAL_FORMS');
            var currentCount = parseInt(totalForms.value);
            var formClone = cloneFormset('steps', currentCount, '.steps-formset');
            totalForms.value = currentCount + 1;
            document.getElementById('steps-formset').appendChild(formClone);
        });

        document.querySelectorAll('.remove-ingredient').forEach(function(button) {
            button.addEventListener('click', function() {
                this.closest('.ingredients-formset').remove();
            });
        });

        document.querySelectorAll('.remove-step').forEach(function(button) {
            button.addEventListener('click', function() {
                this.closest('.steps-formset').remove();
            });
        });
    </script>
</body>
</html>

