{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes - Details</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main class="detail-page">
        <h1>Scrumptious Recipes - Details</h1>
        <section id="recipe-details">
            <h2>{{ recipe_object.title }}</h2>
            <img src="{{ recipe_object.picture }}" alt="{{ recipe_object.title }}">
            <div>{{ recipe_object.rating }} stars</div>
            <p><strong>Description:</strong> {{ recipe_object.description }}</p>
            <p><strong>Created on:</strong> {{ recipe.created_on|date:"d/m/Y"  }}</p>
            <p><strong>Ingredients:</strong></p>
            <p>{{ recipe_object.ingredients }}</p>
            <p><strong>Steps:</strong></p>
            <p>{{ recipe_object.steps }}</p>
            <p><strong>Prep Time:</strong> {{ recipe_object.prep_time }} minutes</p>
            <p><strong>Cook Time:</strong> {{ recipe_object.cook_time }} minutes</p>
            <p><strong>Serves:</strong> {{ recipe_object.serves }}</p>
        </section>
    </main>
    <footer>
        <p>Made with <span class="heart-word">love<span class="heart-explosion">❤️</span></span> by Scrumptious Recipes</p>
    </footer>
</body>
</html>
