{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}Recipe Details{% endblock %}

{% block content %}
    <section id="recipe-details" class="detail-page">
        <h2>{{ recipe_object.title }}</h2>
        <img src="{{ recipe_object.picture }}" alt="{{ recipe_object.title }}">
        <div>{{ recipe_object.rating }} stars</div>
        <p><strong>Description:</strong> {{ recipe_object.description }}</p>
        <p><strong>Created on:</strong> {{ recipe_object.created_on|date:"d/m/Y" }}</p>

        <div class="recipe-grid">
            <div class="ingredients-section">
                <h3>Ingredients</h3>
                <ol>
                    {% for ingredient in recipe_object.ingredients.all %}
                        <li>
                            <span class="ingredient-name">{{ ingredient.name }}:</span>
                            <span class="ingredient-quantity">{{ ingredient.quantity }} {{ ingredient.get_measure_display }}</span>
                            {% if ingredient.instruction %}
                                <span class="ingredient-instruction">Instruction: {{ ingredient.instruction }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="steps-section">
                <h3>Steps</h3>
                <ol>
                    {% for step in recipe_object.steps.all %}
                        <li>{{ step.instruction }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>

        <p><strong>Prep Time:</strong> {{ recipe_object.prep_time }} minutes</p>
        <p><strong>Cook Time:</strong> {{ recipe_object.cook_time }} minutes</p>
        <p><strong>Serves:</strong> {{ recipe_object.serves }}</p>

        {% if user.is_authenticated %}
            <a href="{% url 'edit_recipe' recipe_object.id %}" class="edit-recipe-button">Edit</a>
            <a href="{% url 'share_recipe' recipe_object.id %}" class="share-recipe-button">Share</a>
        {% endif %}
    </section>
{% endblock %}
