
{% extends 'recipes/base.html' %}
{% load static %}
{% block title %}Recipe Details{% endblock %}

{% block content %}
    <section id="recipe-details" class="detail-page">
        <h2>{{ recipe_object.title }}</h2>
        <img src="{{ recipe_object.picture }}" alt="{{ recipe_object.title }}">
        <div>{{ recipe_object.rating }} stars</div>
        <p><strong>Description:</strong> {{ recipe_object.description }}</p>
        <p><strong>Created on:</strong> {{ recipe_object.created_on|date:"d/m/Y" }}</p>
        <p><strong>Ingredients:</strong></p>
        <p>{{ recipe_object.ingredients }}</p>
        <p><strong>Steps:</strong></p>
        <p>{{ recipe_object.steps }}</p>
        <p><strong>Prep Time:</strong> {{ recipe_object.prep_time }} minutes</p>
        <p><strong>Cook Time:</strong> {{ recipe_object.cook_time }} minutes</p>
        <p><strong>Serves:</strong> {{ recipe_object.serves }}</p>
        <a href="{% url 'edit_recipe' recipe_object.id %}" class="edit-recipe-button">Edit</a>
    </section>
{% endblock %}
