{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}{{ recipe_object.title }}{% endblock %}

{% block content %}
<div class="detail-page">
    <h1>{{ recipe_object.title }}</h1>
    <img src="{{ recipe_object.picture }}" alt="{{ recipe_object.title }}">

    <p>{{ recipe_object.description }}</p>

    <div class="recipe-grid">
        <div class="ingredients-section">
            <h3>Ingredients</h3>
            <ul class="ingredients-list">
                {% for ingredient in recipe_object.ingredients.all %}
                    <li>
                        <span class="ingredient-name">{{ ingredient.name }}</span>:
                        <span class="ingredient-quantity">{{ ingredient.quantity }} {{ ingredient.get_measure_display }}</span>
                        {% if ingredient.instruction %}
                            <span class="ingredient-instruction"> - {{ ingredient.instruction }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="steps-section">
            <h3>Steps</h3>
            <ol class="steps-list">
                {% for step in recipe_object.steps.all %}
                    <li>{{ step.instruction }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <h2>Rating</h2>
    <form method="post" action="{% url 'rate_recipe' recipe_object.id %}">
        {% csrf_token %}
        {{ rating_form.as_p }}
        <button type="submit">Submit Rating</button>
    </form>

    <div class="share-recipe-section">
        <h2>Share this Recipe</h2>
        <form method="post" action="{% url 'share_recipe' recipe_object.id %}">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Recipient's email" required>
            <textarea name="message" placeholder="Add a message (optional)"></textarea>
            <button type="submit" class="share-recipe-button">Share</button>
        </form>
    </div>
</div>
{% endblock %}


    <h2>Rating</h2>
    <form method="post" action="{% url 'rate_recipe' recipe_object.id %}">
        {% csrf_token %}
        {{ rating_form.as_p }}
        <button type="submit">Submit Rating</button>
    </form>
</div>
{% endblock %}
