{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}Recipe Details{% endblock %}

{% block content %}
    <section id="recipe-details" class="detail-page">
        <h2>{{ recipe_object.title }}</h2>
        <img src="{{ recipe_object.picture }}" alt="{{ recipe_object.title }}">
        <div>{{ recipe_object.rating }} stars</div>
        <p><strong>Description:</strong> {{ recipe_object.description }}</p>
        <p><strong>Created on:</strong> {{ recipe_object.created_on|date:"d/m/Y" }}</p>

        <h3>Ingredients</h3>
        <ul>
            {% for ingredient in recipe_object.ingredients.all %}
                <li>{{ ingredient.name }}: {{ ingredient.quantity }} {{ ingredient.get_measure_display }}
                    {% if ingredient.instruction %}
                        <p>Instruction: {{ ingredient.instruction }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <h3>Steps</h3>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>

        <p><strong>Prep Time:</strong> {{ recipe_object.prep_time }} minutes</p>
        <p><strong>Cook Time:</strong> {{ recipe_object.cook_time }} minutes</p>
        <p><strong>Serves:</strong> {{ recipe_object.serves }}</p>

        {% if user.is_authenticated %}
            <a href="{% url 'edit_recipe' recipe_object.id %}" class="edit-recipe-button">Edit</a>
            <a href="{% url 'share_recipe' recipe_object.id %}" class="share-recipe-button">Share</a>
        {% endif %}
    </section>
{% endblock %}

