{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{recipe_object.title}} -
            Scrumptious Recipes - Details
    </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    <header>
        <nav>
            <a href="list.html">Main page</a>
        </nav>
    </header>
    <main class="detail-page">
        <h1>{{recipe_object.title}} -
            Scrumptious Recipes - Details</h1>

        <section id="vegetarian-tacos">
            <h2>{{recipe_object.title}}

            </h2>
            <img src="{{ recipe_object.picture }}">
            <div>{{ recipe_object.rating }}</div>
            <h3>{{ reciped_object.ingredients }}</h3>
            <h3>{{ recipe_object.steps }}</h3>
            <ol>
                <li>Slice the chicken breasts into thin cutlets and season with salt and pepper.</li>
                <li>Dredge the chicken in flour and shake off the excess.</li>
                <li>Heat olive oil in a skillet over medium-high heat and cook the chicken until golden brown on both sides.</li>
                <li>Remove the chicken and set aside. Add white wine to the skillet and simmer until reduced by half.</li>
                <li>Add lemon juice, capers, and butter to the skillet and stir until the butter is melted and the sauce is slightly thickened.</li>
                <li>Return the chicken to the skillet and coat with the sauce. Cook for another 2-3 minutes.</li>
                <li>Garnish with fresh parsley and serve.</li>
            </ol>
        </section>

        <section id="chicken-marsala">
            <h2>Chicken Marsala</h2>
            <img src="https://www.onceuponachef.com/images/2018/01/Chicken-Marsala-1150x806.jpg" alt="Chicken Marsala">
            <div>4.7 stars</div>
            <h3>Ingredients</h3>
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food item</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2 large</td>
                        <td>Chicken breasts, boneless and skinless</td>
                    </tr>
                    <tr>
                        <td>1 cup</td>
                        <td>Marsala wine</td>
                    </tr>
                    <tr>
                        <td>1/2 cup</td>
                        <td>Chicken broth</td>
                    </tr>
                    <tr>
                        <td>1 cup</td>
                        <td>Mushrooms, sliced</td>
                    </tr>
                    <tr>
                        <td>1/4 cup</td>
                        <td>Flour</td>
                    </tr>
                    <tr>
                        <td>2 tbsp</td>
                        <td>Olive oil</td>
                    </tr>
                    <tr>
                        <td>2 tbsp</td>
                        <td>Butter</td>
                    </tr>
                    <tr>
                        <td>Salt & Pepper</td>
                        <td>To taste</td>
                    </tr>
                </tbody>
            </table>
            <h3>Steps</h3>
            <ol>
                <li>Season the chicken with salt and pepper, then dredge in flour.</li>
                <li>Heat olive oil in a skillet over medium heat and cook the chicken until browned.</li>
                <li>Remove the chicken and set aside. Add mushrooms to the skillet and cook until softened.</li>
                <li>Pour in Marsala wine and chicken broth, simmer until the liquid reduces by half.</li>
                <li>Add the chicken back to the skillet and cook for 5-7 minutes until the sauce thickens.</li>
                <li>Stir in butter until melted, then serve garnished with fresh parsley.</li>
            </ol>
        </section>

        <section id="penne-alla-vodka">
            <h2>Penne alla Vodka</h2>
            <img src="https://www.eatingbirdfood.com/wp-content/uploads/2024/01/penne-alla-vodka-with-fork.jpg" alt="Penne alla Vodka">
            <div>4.9 stars</div>
            <h3>Ingredients</h3>
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food item</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12 oz</td>
                        <td>Penne pasta</td>
                    </tr>
                    <tr>
                        <td>1 cup</td>
                        <td>Heavy cream</td>
                    </tr>
                    <tr>
                        <td>1/2 cup</td>
                        <td>Vodka</td>
                    </tr>
                    <tr>
                        <td>1/2 cup</td>
                        <td>Tomato paste</td>
                    </tr>
                    <tr>
                        <td>1/2 cup</td>
                        <td>Parmesan cheese, grated</td>
                    </tr>
                    <tr>
                        <td>2 cloves</td>
                        <td>Garlic, minced</td>
                    </tr>
                    <tr>
                        <td>2 tbsp</td>
                        <td>Olive oil</td>
                    </tr>
                    <tr>
                        <td>Salt & Pepper</td>
                        <td>To taste</td>
                    </tr>
                </tbody>
            </table>
            <h3>Steps</h3>
            <ol>
                <li>Cook penne pasta according to package instructions.</li>
                <li>In a large skillet, heat olive oil over medium heat. Add garlic and sauté until fragrant.</li>
                <li>Add tomato paste and cook until it darkens in color.</li>
                <li>Pour in vodka and cook until the alcohol evaporates.</li>
                <li>Add heavy cream and bring to a simmer.</li>
                <li>Toss cooked pasta with the sauce and stir in Parmesan cheese.</li>
                <li>Season with salt and pepper to taste and serve hot.</li>
            </ol>
        </section>

        <section id="turkey-tri-fecta">
            <h2>Turkey Tri Fecta</h2>
            <img src="https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2020/11/Turkey-Recipe-15.jpg" alt="Roast Turkey">
        <div>4.6 stars</div>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 whole</td>
                    <td>Turkey (12-14 pounds)</td>
                </tr>
                <tr>
                    <td>1/2 cup</td>
                    <td>Butter, melted</td>
                </tr>
                <tr>
                    <td>1 tbsp</td>
                    <td>Salt</td>
                </tr>
                <tr>
                    <td>1 tbsp</td>
                    <td>Pepper</td>
                </tr>
                <tr>
                    <td>1 tbsp</td>
                    <td>Garlic powder</td>
                </tr>
                <tr>
                    <td>1 tbsp</td>
                    <td>Onion powder</td>
                </tr>
                <tr>
                    <td>2 cups</td>
                    <td>Chicken broth</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Onion, quartered</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Lemon, halved</td>
                </tr>
                <tr>
                    <td>1 bunch</td>
                    <td>Fresh herbs (rosemary, thyme, sage)</td>
                </tr>
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            <li>Preheat your oven to 325°F (165°C).</li>
            <li>Remove giblets and neck from turkey cavities, rinse and pat dry.</li>
            <li>Brush turkey with melted butter and season inside and out with salt, pepper, garlic powder, and onion powder.</li>
            <li>Stuff the turkey cavity with onion, lemon, and fresh herbs.</li>
            <li>Place turkey on a rack in a roasting pan. Pour chicken broth into the pan.</li>
            <li>Roast turkey, basting occasionally with pan drippings, until the internal temperature reaches 165°F (75°C) in the thickest part of the thigh (about 3-4 hours).</li>
            <li>Let the turkey rest for 20-30 minutes before carving.</li>
        </ol>
    </main>
    <footer>
        <p>Made with <span class="heart-word">love<span class="heart-explosion">❤️</span></span> by Scrumptious Recipes</p>
    </footer>
</body>
</html>
