{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}Recipe Details{% endblock %}

{% block content %}
<section id="recipe-details" class="detail-page">
    <h2>{{ recipe_object.title }}</h2>
    <img src="{{ recipe_object.picture }}" alt="{{ recipe_object.title }}">
    <div>{{ recipe_object.rating }} stars</div>
    <p><strong>Description:</strong> {{ recipe_object.description }}</p>
    <p><strong>Created on:</strong> {{ recipe_object.created_on|date:"d/m/Y" }}</p>

    <h3>Ingredients</h3>
    <ul>
        {% for ingredient in recipe_object.recipe_ingredients.all %}
            <li>{{ ingredient.name }}: {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'add_recipe_ingredient' recipe_object.id %}">
        {% csrf_token %}
        <div id="ingredients">
            <div>
                <label for="ingredient_name">Ingredient</label>
                <input type="text" id="ingredient_name" name="name" required />
                <label for="ingredient_quantity">Quantity</label>
                <input type="text" id="ingredient_quantity" name="quantity" required />
            </div>
        </div>
        <button type="submit">Add Ingredient</button>
    </form>

    <h3>Steps</h3>
    <ol>
        {% for step in recipe_object.recipe_steps.all %}
            <li>{{ step.instruction }}</li>
        {% endfor %}
    </ol>
    <form method="post" action="{% url 'add_recipe_step' recipe_object.id %}">
        {% csrf_token %}
        <div id="steps">
            <div>
                <label for="step_number">Step Number</label>
                <input type="number" id="step_number" name="step_number" required />
                <label for="instruction">Instruction</label>
                <textarea id="instruction" name="instruction" required></textarea>
            </div>
        </div>
        <button type="submit">Add Step</button>
    </form>

    <p><strong>Prep Time:</strong> {{ recipe_object.prep_time }} minutes</p>
    <p><strong>Cook Time:</strong> {{ recipe_object.cook_time }} minutes</p>
    <p><strong>Serves:</strong> {{ recipe_object.serves }}</p>
    <a href="{% url 'edit_recipe' recipe_object.id %}" class="edit-recipe-button">Edit</a>
</section>
{% endblock %}
