{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}{{ recipe_object.title }}{% endblock %}

{% block content %}
    <h1>{{ recipe_object.title }}</h1>
    <img src="{{ recipe_object.picture }}" alt="{{ recipe_object.title }}">

    <p>{{ recipe_object.description }}</p>

    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>
                <strong>{{ ingredient.name }}</strong>: {{ ingredient.quantity }} {{ ingredient.get_measure_display }} {% if ingredient.instruction %} - {{ ingredient.instruction }}{% endif %}
            </li>
        {% endfor %}
    </ul>

    <h2>Steps</h2>
    <ol>
        {% for step in steps %}
            <li>{{ step.step_number }}. {{ step.instruction }}</li>
        {% endfor %}
    </ol>

    <h2>Rating</h2>
    <form method="post" action="{% url 'rate_recipe' recipe_object.id %}">
        {% csrf_token %}
        {{ rating_form.as_p }}
        <button type="submit">Submit Rating</button>
    </form>
{% endblock %}

