{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}
    <h1>Edit Recipe</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <h2>Ingredients</h2>
        {{ ingredients_formset.management_form }}
        <div id="ingredients-formset">
            {% for form in ingredients_formset %}
                <div class="ingredients-formset">
                    {{ form.as_p }}
                    <button type="button" class="remove-ingredient">Remove</button>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-ingredient">Add Ingredient</button>

        <h2 class="form-section-title">Steps</h2> <!-- Added class for styling -->
        {{ steps_formset.management_form }}
        <div id="steps-formset">
            {% for form in steps_formset %}
                <div class="steps-formset">
                    {{ form.as_p }}
                    <button type="button" class="remove-step">Remove</button>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-step">Add Step</button>

        <div class="save-button-wrapper">
            <button type="submit" class="save-changes-button">Save Changes</button>
        </div>
    </form>

    <script>
        document.getElementById('add-ingredient').addEventListener('click', function() {
            var totalForms = document.getElementById('id_ingredients-TOTAL_FORMS');
            var currentCount = parseInt(totalForms.value);
            var formClone = document.querySelector('.ingredients-formset:last-of-type').cloneNode(true);
            formClone.querySelectorAll('input, select, textarea').forEach(function(input) {
                input.name = input.name.replace(`-${currentCount - 1}-`, `-${currentCount}-`);
                input.id = input.id.replace(`_${currentCount - 1}_`, `_${currentCount}_`);
                input.value = '';
            });
            totalForms.value = currentCount + 1;
            document.getElementById('ingredients-formset').appendChild(formClone);
        });

        document.getElementById('add-step').addEventListener('click', function() {
            var totalForms = document.getElementById('id_steps-TOTAL_FORMS');
            var currentCount = parseInt(totalForms.value);
            var formClone = document.querySelector('.steps-formset:last-of-type').cloneNode(true);
            formClone.querySelectorAll('input, select, textarea').forEach(function(input) {
                input.name = input.name.replace(`-${currentCount - 1}-`, `-${currentCount}-`);
                input.id = input.id.replace(`_${currentCount - 1}_`, `_${currentCount}_`);
                input.value = '';
            });
            totalForms.value = currentCount + 1;
            document.getElementById('steps-formset').appendChild(formClone);
        });

        document.querySelectorAll('.remove-ingredient').forEach(function(button) {
            button.addEventListener('click', function() {
                this.closest('.ingredients-formset').remove();
            });
        });

        document.querySelectorAll('.remove-step').forEach(function(button) {
            button.addEventListener('click', function() {
                this.closest('.steps-formset').remove();
            });
        });
    </script>
{% endblock %}

