{% extends 'base.html' %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}
    <h1>Edit Recipe</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
{% endblock %}
