
<!DOCTYPE html>
<html>
<head>
    <title>Edit Recipe</title>
</head>
<body>
    <h1>Edit Recipe: {{ recipe.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
    <a href="{% url 'recipe_detail' recipe.id %}">Cancel</a>
</body>
</html>
