{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}
    <h1>Edit Recipe</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <h2>Ingredients</h2>
        {{ ingredients_formset.management_form }}
        <div id="ingredients-formset">
            {% for form in ingredients_formset %}
                <div class="ingredients-formset">
                    {{ form.as_p }}
                    {% if form.non_field_errors %}
                        <div class="error">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <button type="button" class="remove-ingredient">Remove</button>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-ingredient">Add Ingredient</button>

        <h2 class="form-section-title">Steps</h2>
        {{ steps_formset.management_form }}
        <div id="steps-formset">
            {% for form in steps_formset %}
                <div class="steps-formset">
                    {{ form.as_p }}
                    {% if form.non_field_errors %}
                        <div class="error">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <button type="button" class="remove-step">Remove</button>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-step">Add Step</button>

        <div class="save-button-wrapper">
            <button type="submit" class="save-changes-button">Save Changes</button>
        </div>
    </form>

    <script>
        function autoResizeTextArea(textarea) {
            textarea.style.height = 'auto';
            textarea.style.height = (textarea.scrollHeight) + 'px';
        }

        document.querySelectorAll('textarea').forEach(function(textarea) {
            textarea.addEventListener('input', function() {
                autoResizeTextArea(textarea);
            });
            autoResizeTextArea(textarea); // Initial call to adjust size based on initial content
        });

        function cloneFormset(prefix, formCount, formContainerSelector) {
            var formClone = document.querySelector(`${formContainerSelector}:last-of-type`).cloneNode(true);
            formClone.querySelectorAll('input, select, textarea').forEach(function(input) {
                input.name = input.name.replace(`-${formCount - 1}-`, `-${formCount}-`);
                input.id = input.id.replace(`_${formCount - 1}_`, `_${formCount}_`);
                input.value = '';
                if (input.tagName.toLowerCase() === 'textarea') {
                    input.style.height = 'auto'; // Reset height
                    input.addEventListener('input', function() {
                        autoResizeTextArea(input);
                    });
                }
            });
            formClone.querySelectorAll('.remove-ingredient, .remove-step').forEach(function(button) {
                button.addEventListener('click', function() {
                    this.closest(formContainerSelector).remove();
                });
            });
            return formClone;
        }

        document.getElementById('add-ingredient').addEventListener('click', function() {
            var totalForms = document.getElementById('id_ingredients-TOTAL_FORMS');
            var currentCount = parseInt(totalForms.value);
            var formClone = cloneFormset('ingredients', currentCount, '.ingredients-formset');
            totalForms.value = currentCount + 1;
            document.getElementById('ingredients-formset').appendChild(formClone);
        });

        document.getElementById('add-step').addEventListener('click', function() {
            var totalForms = document.getElementById('id_steps-TOTAL_FORMS');
            var currentCount = parseInt(totalForms.value);
            var formClone = cloneFormset('steps', currentCount, '.steps-formset');
            totalForms.value = currentCount + 1;
            document.getElementById('steps-formset').appendChild(formClone);
        });

        document.querySelectorAll('.remove-ingredient').forEach(function(button) {
            button.addEventListener('click', function() {
                this.closest('.ingredients-formset').remove();
            });
        });

        document.querySelectorAll('.remove-step').forEach(function(button) {
            button.addEventListener('click', function() {
                this.closest('.steps-formset').remove();
            });
        });
    </script>
{% endblock %}

