{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scrumptious Recipes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
</head>
<body style="background: url('{% static 'images/background.webp' %}') no-repeat center center fixed; background-size: cover;">
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'add_recipe' %}" class="add-recipe-button">Add a new recipe</a>
        </nav>
    </header>
    <main>
        {% block content %}
            <h1>Scrumptious Recipes</h1>
            <h2 class="animate-eating">
                <span>All</span> <span>the</span> <span>food</span> <span>that's</span> <span>fit</span> <span>to</span> <span>eat</span>
                <div class="pacman">
                    <div class="pacman__eye"></div>
                    <div class="pacman__mouth"></div>
                </div>
            </h2>
            <div class="recipes-carousel">
                {% for recipe in recipe_list %}
                <div class="recipe">
                    <div class="recipe-card">
                        <h3><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></h3>
                        <a href="{% url 'recipe_detail' recipe.id %}"><img src="{{ recipe.picture }}" alt="{{ recipe.title }}"></a>
                        <div>{{ recipe.rating }} stars</div>
                        <a href="{% url 'edit_recipe' recipe.id %}" class="edit-recipe-button">Edit</a>
                    </div>
                </div>
                {% empty %}
                <p>There are no recipes available.</p>
                {% endfor %}
            </div>
        {% endblock %}
    </main>
    <footer>
        <p>Made with <span class="heart-word">love<span class="heart-explosion">❤️</span></span> by Scrumptious Recipes</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.recipes-carousel').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                dots: true,
                autoplay: false,
                autoplaySpeed: 2000,
            });
        });
    </script>
</body>
</html>
