{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <link href="https://css.gg/pacman.css" rel="stylesheet"> <!-- Add this line to include the Pac-Man icon CSS -->
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
        <a href="{% url 'add_recipe' %}" class="add-recipe-button">Add a new recipe</a>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2 class="animate-eating">
            <span>All</span> <span>the</span> <span>food</span> <span>that's</span> <span>fit</span> <span>to</span> <span>eat</span>
            <i class="gg-pacman pacman"></i> <!-- Use the gg-pacman class for the Pac-Man icon -->
        </h2>
        <div class="recipes-grid">
            {% for recipe in recipe_list %}
            <div class="recipe">
                <div class="recipe-card">
                    <h3><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></h3>
                    <a href="{% url 'recipe_detail' recipe.id %}"><img src="{{ recipe.picture }}" alt="{{ recipe.title }}"></a>
                    <div>{{ recipe.rating }} stars</div>
                    <a href

