{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}Scrumptious Recipes{% endblock %}

{% block content %}
    <header>
        <form method="get" action="{% url 'recipe_list' %}">
            <input type="text" name="q" placeholder="Search recipes..." value="{{ query }}">
            <button type="submit">Search</button>
        </form>
    </header>
    <h1>Scrumptious Recipes</h1>
    <h2 class="animate-eating">
        <span>All</span> <span>the</span> <span>food</span> <span>that's</span> <span>fit</span> <span>to</span> <span>eat</span>
        <div class="pacman">
            <div class="pacman__eye"></div>
            <div class="pacman__mouth"></div>
        </div>
    </h2>
    <div class="recipes-carousel">
        {% for recipe in recipe_list %}
        <div class="recipe">
            <div class="recipe-card">
                <h3><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></h3>
                <a href="{% url 'recipe_detail' recipe.id %}"><img src="{{ recipe.picture }}" alt="{{ recipe.title }}"></a>
                <div>{{ recipe.rating }} stars</div>
                <a href="{% url 'edit_recipe' recipe.id %}" class="edit-recipe-button">Edit</a>
            </div>
        </div>
        {% empty %}
        <p>No recipes found matching your query.</p>
        {% endfor %}
    </div>
{% endblock %}

