{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scrumptious Recipes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'add_recipe' %}" class="add-recipe-button">Add a new recipe</a>
        </nav>
    </header>
    <main>
        {% block content %}
            <h1>Scrumptious Recipes</h1>
            <h2 class="animate-eating">
                <span>All</span> <span>the</span> <span>food</span> <span>that's</span> <span>fit</span> <span>to</span> <span>eat</span>
                <div class="pacman">
                    <div class="pacman__eye"></div>
                    <div class="pacman__mouth"></div>
                </div>
            </h2>
            <div class="carousel-container">
                <button class="carousel-btn prev" onclick="handleCarouselMove(false)">&#10094;</button>
                <div class="carousel-slide">
                    {% for recipe in recipe_list %}
                    <div class="recipe">
                        <div class="recipe-card">
                            <h3><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></h3>
                            <a href="{% url 'recipe_detail' recipe.id %}"><img src="{{ recipe.picture }}" alt="{{ recipe.title }}"></a>
                            <div>{{ recipe.rating }} stars</div>
                            <a href="{% url 'edit_recipe' recipe.id %}" class="edit-recipe-button">Edit</a>
                        </div>
                    </div>
                    {% empty %}
                    <p>There are no recipes available.</p>
                    {% endfor %}
                </div>
                <button class="carousel-btn next" onclick="handleCarouselMove(true)">&#10095;</button>
            </div>
        {% endblock %}
    </main>
    <footer>
        <p>Made with <span class="heart-word">love<span class="heart-explosion">❤️</span></span> by Scrumptious Recipes</p>
    </footer>
    <script>
        const carousel = document.querySelector(".carousel-container");
        const slide = document.querySelector(".carousel-slide");

        function handleCarouselMove(positive = true) {
          const slideWidth = slide.clientWidth;
          carousel.scrollLeft = positive ? carousel.scrollLeft + slideWidth : carousel.scrollLeft - slideWidth;
        }
    </script>
</body>
</html>
