{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}Share Recipe{% endblock %}

{% block content %}
    <h1>Share Recipe: {{ recipe.title }}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="email">Recipient's Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" cols="50"></textarea>
        <br>
        <button type="submit">Send</button>
    </form>
{% endblock %}
