@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url("{% static 'images/background.webp' %}") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #227da4;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

/* Adjust the add-recipe-button to fit within the header */
.add-recipe-button {
    padding: 8px 15px;
    background-color: #003366; /* Dark blue background color */
    color: #ffffff; /* White text color */
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
    font-size: 0.9em; /* Adjust font size to fit within the header */
}

/* Adjust the hover effect for add-recipe-button */
.add-recipe-button:hover {
    background-color: #002244; /* Slightly darker blue on hover */
}

main {
    padding: 20px;
    flex: 1 0 auto; /* Ensures main takes up available space */
    text-align: center; /* Center text in main content */
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
    position: relative; /* needed for mouth animation */
    display: inline-block;
}

h3 {
    font-size: 1.2em;
}

p {
    margin: 0.5em 0;
}

a {
    color: #157594;
    text-decoration: none;
}

a:hover {
    color: green;
}

.recipe img, .detail-page img {
    height: 200px;
    width: auto;
    display: block;
    margin: 0 auto 20px auto; /* Center align images */
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

ol {
    margin: 20px auto;
    padding-left: 20px;
    list-style-position: inside;
    width: 70%;
}

ol li {
    margin-bottom: 10px;
}

footer {
    background: #2e7695;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Ensures footer stays at the bottom */
}

/* New styles for the grid layout */
.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recipe {
    text-align: center;
    perspective: 1000px; /* Added perspective to parent enable 3D transforms  */
}

.recipe-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s; /* Added transition for smooth hover effect */
    transform-style: preserve-3d; /* Ensures child elements are rendered in 3D space */
    animation: popIn 0.5s ease-out; /* Animation applied here */
}

.recipe-card:hover {
    transform: rotateY(15deg) rotateX(10deg); /* Rotate the card on hover */
}

/* Style for the edit button in recipe cards */
.edit-recipe-button {
    display: inline-block;
    padding: 5px 10px; /* Smaller padding */
    background-color: #003366; /* Dark blue background color */
    color: #ffffff; /* White text color */
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
    font-size: 0.8em; /* Smaller font size */
    margin-top: 10px; /* Add some margin to separate from other content */
}

/* Hover effect for the edit-recipe-button */
.edit-recipe-button:hover {
    background-color: #002244; /* Slightly darker blue on hover */
}

/* Exploding heart animation */
.heart-word {
    position: relative;
    cursor: pointer;
}

.heart-explosion {
    display: none;
    font-size: 2em;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    animation: explode 1s forwards;
}

.heart-word:hover .heart-explosion {
    display: block;
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* Define the keyframes for the pop-in animation */
@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Pac-Man animation */
.pacman {
  width: 30px;  /* Adjusted size to fit within the text */
  height: 30px;
  border-radius: 50%;
  background: #F2D648;
  position: absolute;
  top: 0;
  left: -40px; /* Start position outside the view */
  animation: movePacman 10s linear infinite; /* Move across the text */
}

.pacman__eye {
  position: absolute;
  width: 3px;  /* Adjusted size to fit within the smaller Pac-Man */
  height: 3px;
  border-radius: 50%;
  top: 5px;  /* Adjusted position to fit within the smaller Pac-Man */
  right: 10px;  /* Adjusted position to fit within the smaller Pac-Man */
  background: #333333;
}

.pacman__mouth {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  animation-name: eat;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}

@keyframes movePacman {
  0% {
    left: -40px;
  }
  100% {
    left: 100%;
  }
}

/* Text disappearing effect */
.animate-eating {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap; /* Ensures text stays on a single line */
    position: relative;  /* Position relative to position Pac-Man absolutely */
}

.animate-eating span {
    display: inline-block;
    animation: disappear 10s infinite;
}

@keyframes disappear {
    0%, 50% {
        opacity: 1;
    }
    60%, 100% {
        opacity: 0;
    }
}
.detail-page img {
    max-width: 100%;
    height: auto;
    width: 200px;
    margin: 0 auto 20px auto; /* Center align images */
}
.logo {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

}

.logo img {
    max-width: 150px;;
    height: 80px;
}
