body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #227fa4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1; /* Ensure header is above overlay */
    background-image: linear-gradient(to left, #227da4, #134e5e);
}

header nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

header .search-form {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header .search-form input[type="text"] {
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    border-right: none;
}

header .search-form button {
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
}

header .search-form button:hover {
    background-color: #002244;
}

main {
    padding: 20px;
    flex: 1 0 auto; /* Ensures main takes up available space */
    text-align: center; /* Center text in main content */
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
    position: relative; /* needed for mouth animation */
    display: inline-block;
}

h3 {
    font-size: 1.2em;
}

p {
    margin: 0.5em 0;
}

a {
    color: #157594;
    text-decoration: none;
}

a:hover {
    color: green;
}

.recipe img {
    height: 200px;
    width: auto;
}

.detail-page img {
    height: 200px;
    width: auto;
    display: block;
    margin: 0 auto 20px auto; /* Center align images */
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

ol {
    margin: 20px auto;
    padding-left: 20px;
    list-style-position: inside;
    width: 70%;
}

ol li {
    margin-bottom: 10px;
}

footer {
    background: #2e7695;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Ensures footer stays at the bottom */
    background-image: linear-gradient(to left, #227da4, #134e5e);

}

/* New styles for the grid layout */
.recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.recipe {
    text-align: center;
    perspective: 1000px; /* Added perspective to parent enable 3D transforms  */
}

.recipe-card img {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 8px; /* Optional: add some border radius to match the card's style */
}

.recipe-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s; /* Added transition for smooth hover effect */
    transform-style: preserve-3d; /* Ensures child elements are rendered in 3D space */
    animation: popIn 0.5s ease-out; /* Animation applied here */
}

.recipe-card:hover {
    transform: rotateY(15deg) rotateX(10deg);/* Rotate the card on hover */
}

/* Exploding heart animation */
.heart-word {
    position: relative;
    cursor: pointer;
}

.heart-explosion {
    display: none;
    font-size: 2em;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    animation: explode 1s forwards;
}

.heart-word:hover .heart-explosion {
    display: block;
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* Define the keyframes for the pop-in animation */
@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Mouth animation */
.mouth {
    position: absolute;
    top: 0; /* Adjust position to make it more visible */
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50% 50% 0 0;
    transform: rotate(45deg);
    animation: eat 5s infinite;
}

@keyframes eat {
    0% {
        left: -50px;
    }
    50% {
        left: calc(100% + 50px);
    }
    100% {
        left: -50px;
    }
}

/* Text disappearing effect */
.animate-eating {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap; /* Ensures text stays on a single line */
}

.animate-eating span {
    display: inline-block;
    animation: disappear 5s infinite;
}

@keyframes disappear {
    0%, 50% {
        opacity: 1;
    }
    60%, 100% {
        opacity: 0;
    }
}

.detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

.ingredients-section, .steps-section {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ingredients-section h3, .steps-section h3 {
    margin-top: 0;
}

.ingredient-name, .ingredient-quantity, .ingredient-instruction {
    display: block;
}

.edit-recipe-button, .share-recipe-button {
    margin-top: 10px;
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.edit-recipe-button:hover, .share-recipe-button:hover {
    background-color: #0056b3;
}



/* Footer positioning: The footer is styled to always stay
 at the bottom of the page using position: absolute; left: 0; right: 0;
 bottom: 0;.
 Font import: Added the @import statement to include the
 "Roboto" font.
 Hover effect: Added a :hover pseudo-class to
 change the color of anchor tags to green.
 Text decoration removal: The text-decoration: none; rule is used to
  remove the underline from anchor tags. */

  /* To ensure the footer stays at the bottom of the viewport even when
  scrolling, you need to use position: fixed; instead of
  position: absolute;. Additionally, you need to add some margin
   at the bottom of the main content to avoid it being covered by
   the footer. */
